body {
	font-family: 'Rubik', sans-serif;
}

.jestey_content {
	margin: 0 auto;
	max-width: 50em;
}

.jestey_header {
	font-family: 'Rubik', sans-serif;
	min-height: 35em;
	margin-bottom: 0px;
	background-attachment: fixed;
	background-position: 0% 25%;
	background-size: cover;
	background-repeat: no-repeat;
}

.jestey_section {
	font-family: 'Rubik', sans-serif;
	min-height: 50em;
	font-size: 16pt;
	color: white;
	text-shadow: black 2px 2px 2px;
	background-color: grey;
	padding-top: 5em;
	padding-bottom: 5em;
}

.jestey_section a {
	color: cyan;
}

#jestey_header1 {
	background-image: url(../img/mainst.jpg);
}

#jestey_section1 {
	background: linear-gradient(rgb(20, 56, 54), rgb(10, 24, 38));
}

#jestey_portrait {
	float: left;
	padding: 3em;
	width: 20%;
}

#jestey_header2 {
	padding-top: 0;
	padding-bottom: 0;
}

#jestey_section2 {
	background: linear-gradient(rgb(10, 24, 38), rgb(20, 56, 54));
}

#jestey_header3 {
	background-image: url(../img/woodland.jpg);
}

#jestey_section3 {
	background: linear-gradient(rgb(10, 24, 38), rgb(10, 10, 10));
}

#jestey_header4 {
	background-image: url(../img/sleeping-dogs-art.jpg);
}

#jestey_section4 {
	background: linear-gradient(rgb(10, 24, 38), rgb(10, 10, 10));
}

#jestey_section5 {
	background: linear-gradient(rgb(10, 24, 38), rgb(10, 10, 10));
}

#jestey_section6 {
	background: linear-gradient(rgb(10, 24, 38), rgb(10, 10, 10));
}

.portfolio_slide {
	display: none;
	height: 24em;
}

.jam_slide {
	display: none;
	height: 24em;
}

.link_floater {
	float: left;
	border: 1px solid;
	padding: 0.8cm;
	margin: 0.4cm
}

.link_floater:hover {
	background-color: #004488
}
